<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
  		<meta name="viewport" content="width=device-width, initial-scale=1.0"> </meta>
  		<script src="http://code.jquery.com/jquery.js"></script>
		<script th:src="@{webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
        <title>Login </title>
        
        <link rel="stylesheet" th:href="@{webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
        <link rel="stylesheet" th:href="@{css/login.css}" href="../static/css/login.css" media="screen" />
    </head>
    <body>       
			<div class = "container">
				<div class="wrapper">
					<form th:action="@{/login}" method="post" name="Login_Form" class="form-signin">       
					    <h3 class="form-signin-heading">Welcome Back! Please Sign In</h3>
						  <hr class="colorgraph" /><br/>
						  
						  <input type="text" class="form-control" name="Username" placeholder="Username" required="" autofocus="" />
						  <input type="password" class="form-control" name="Password" placeholder="Password" required=""/>     		  
						 
						  <button class="btn btn-lg btn-primary btn-block"  name="Submit" value="Login" type="Submit">Login</button>  			
					</form>			
				</div>
			</div>
			<div th:if="${param.error}" class = "alert alert-danger">
            	Invalid username or password.
        	</div>
        	
        	<div th:if="${param.logout}" class = "alert alert-success">
          		  You have been logged out.
        	</div> 
    </body>
</html>
